# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
**/target
checkwork/target/**
connect/target/**
logger/target/**
common/target/**
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

*.class
common/target/classes/com/common/configs/DatabaseConfig.class
common/target/classes/com/common/exceptions/ExceptionHandlers.class
common/target/classes/com/common/utils/ConvertData.class
common/target/classes/com/common/utils/GenerateWorkHourCode.class
common/target/classes/com/common/validations/ValidDateOfBirth.class
